<a href="https://colab.research.google.com/github/HKyeol/team_study/blob/main/BOJ1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
10000보다 작다.

In [ ]:
def self_number(num,data,a=[]):
    if num <10000:
        result = num
        for i in str(num):
            result += int(i)
        a.append(result)
        num = result
        return self_number(num,data,a)
    else:
        a = list(set(a))
        return data,a
data = [i for i in range(1,10001)]
b = []
for j in range(1,10001):
    data,b = self_number(j,data)[0],b+self_number(j,data)[1]

len(data)
len(b)
#for i in range(1,10001):
#    print(i)

In [25]:
data = [i for i in range(1,11)]
a = [2,4,6,7]
for i in a:
    data.remove(i)
data

[1, 3, 5, 8, 9, 10]

In [47]:
def self_number(num):
    a = []
    if num == 1:
        print(num)
        result = num
        for i in str(num):
            result += int(i)
        return self_number(result)
    else:

a = []
print(1)
2 4 8 16 23
print(3)
3 6 12 15 21
self_number(2)

4

In [ ]:
a = []
num = 1
while num <10001:
    result = num
    for i in str(num):
        result += int(i)
    a.append(result)
    num += 1
default_set = set(range(1,10001))
a = set(a)
result = default_set - a
for i in sorted(result):
    print(i)

In [ ]:
def d(n):
    num = int(n)
    for i in list(str(n)):
        num += int(i)
    return num

default_set = set(range(1,10001))
remove_set = set() 

for i in range(1, 10001):
    remove_set.add(d(i))

result = default_set - remove_set

for i in sorted(result):
    print(i)

남의 답
set이 빠르구나... 순서가 없어서 그런가?

In [ ]:
def d(n):
    num = int(n)
    for i in str(n):
        num += int(i)
    return num

default_set = set(range(1,10001))
remove_set = set()

for i in range(1,10001):
    remove_set.add(d(i))
result = default_set - remove_set

for i in result:
    print(i)

고양이 출력

In [74]:
print("\    /\\")
print(" )  ( ')")
print("(  /  )")
print(" \(__)|")

\    /\
 )  ( ')
(  /  )
 \(__)|

In [85]:
print('|\_/|')
print('|q p|   /}')
print('( 0 )"""\\')
print('|"^"`    |')
print('||_/=\\\__|')

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

In [96]:
#a, b = map(int, input().split())
#print(a+b)
a, b = map(int,input().split())
print(a+b)

1 2
3

In [100]:
A,B = map(int,input().split())
print(A+B)
print(A-B)
print(A*B)
print(A//B)
print(A%B)

1 2
3
-1
2
0
1

In [ ]:
첫째 줄에 (A+B)%C, 둘째 줄에 ((A%C) + (B%C))%C, 셋째 줄에 (A×B)%C, 넷째 줄에 ((A%C) × (B%C))%C를 출력한다.

In [104]:
A,B,C= map(int,input().split())
print((A+B)%C)
print(((A%C) + (B%C))%C)
print((A*B)%C)
print(((A%C)*(B%C))%C)

3 5 7
1
1
1
1

)과 (2)위치에 들어갈 세 자리 자연수가 주어질 때 (3), (4), (5), (6)위치에 들어갈 값을 구하는 프로그램을 작성하시오.

In [111]:

a,b,c = [i for i in str(input())]
d,e,f = [i for i in str(input())]
num1 = int(a+b+c)
print(num1*int(f))
print(num1*int(e))
print(num1*int(d))
print(num1*int(d+e+f))

123
1 2 3